body {
  padding:0;
  margin: 0;
  font-family: helvetica, arial;
} 

.header, .top-bar, .button, .button:hover, .top-bar.expanded .title-area {
  background:#7a71ae;
}

.header {
  margin: 0;
  height: auto;
}

.top-bar {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 960px;
}

.top-bar-section ul{
  width: auto;
  height: auto;
  display: inline;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
  list-style-type: none;
  padding-left: 0;
}

.top-bar-section ul a{
  text-decoration: none;
  color: white;
}

.top-bar-section li{
  display: inline-block;
  margin-right: 15px;
}

.name h1  {
  display: block;
  font-family: helvetica, arial;
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin-bottom: 15px;
  margin-top: 5px;
}