<html>
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icon.png" />

    <title>Welcome | Borchester City Council</title>
    <!-- <link rel="stylesheet" href="/static/vendor/roboto-slab-fontface/roboto-slab-fontface.css">
    <link rel="stylesheet" href="/static/vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/public/stylesheets/borchester.css">
    

  </head> 
  <body>
    <div class="header">
      <nav class="top-bar">
          <div class="name">
            <h1> Borchester City Council </h1>
          </div>
      <!--   <section class="top-bar-section">
          <ul>
            <li><a href="#">Services</a></li>
            <li><a href="/notices">Notices</a></li>
            <li><a href="#">Votes and debates</a></li>
            <li><a href="#">Your councillors</a></li>
            <li><a href="#">Buses and trams</a></li>
            <li><a href="#">Data</a></li>
          </ul>
        </section> -->
      </nav>
    </div>


<div class="wrapper fullscreen">
	<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>

<div class="grid-row">
	<div class="column-two-thirds">
	  <h1 class="heading-large">Select how you want to pay</h1>
	  	<form class="radio-nav">
			<div class="form-group">
				
			<label id="label-debitcard" class="block-label" for="radio-debitcard">
			    <input id="radio-debitcard" type="radio" name="radio-group" value="borchester-council-tax-debit-card-payment">
			    Pay £45.00 monthly for 12 months
			</label>

			<label id="label-debitcard" class="block-label" for="radio-debitcard">
			    <input id="radio-debitcard" type="radio" name="radio-group" value="borchester-council-tax-debit-card-payment">
			    Pay £54.00 monthly for 10 months (you then won't have to pay for 2 months)
			</label>
			
			<label id="label-creditcard" class="block-label" for="radio-creditcard">
			    <input id="radio-creditcard" type="radio" name="radio-group" value="borchester-penalty-credit-card-payment">
			    Pay £85.00 every 2 months for 12 months
			</label>

			<label id="label-creditcard" class="block-label" for="radio-creditcard">
			    <input id="radio-creditcard" type="radio" name="radio-group" value="borchester-penalty-credit-card-payment">
			    Pay £450.00 yearly
			</label>
			
			<!-- <label id="label-directdebit" class="block-label" for="radio-directdebit">
			    <input id="radio-directdebit" type="radio" name="radio-group" value="borchester-penalty-direct-debit-payment-1">
			    Direct Debit – one off payment
		  	</label> -->
		  	<!-- <label id="label-paypal" class="block-label" for="radio-paypal">
			    <input id="radio-paypal" type="radio" name="radio-group" value="borchester-council-tax-paypal-payment-1">
			    PayPal
		  	</label>
			
		  	<label id="label-cash" class="block-label" for="radio-cash">
			    <input id="radio-cash" type="radio" name="radio-group" value="borchester-council-tax-cash-payment-1">
			    Cash – at your local store
			</label> -->
			
			<div class="form-group">
		 		<button class="button">Continue</button>
		 	</div>
		 </div>
		</form>
	   </div>
	    <div class="column-third">

			<div class="payment-summary-small">
				<h2>Payment summary</h2>

			      <p class="payment-info">Council tax to Borchester City Council</p>
			       <h3>Amount to pay:</h3>
			       <p class="payment-amount">£121.00</p>
			</div>
		</div>
	  </div>


</div>
</body>
</html>

