{% extends "layout2.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
 
{% block content %}
 

<main id="content" role="main">
<div class="back">
    <a href="javascript:history.back()" class="link-back">Back</a>
  </div>

		<div class="payment-summary">
			<h1 class="heading-large" style="margin-bottom:30px; margin-top:60px;">Council Tax payment summary</h1>
				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
            <tr>
              <td>Property address:</td>
              <td>10 Hemberton Road, Borchester, B9 9LJ</td>
            </tr>
			      <tr>
			        <td>Payment of:</td>
			        <td>Band E Council tax to Borchester City Council</td>
			      </tr>
			      <tr>
			        <td>Amount to pay:</td>
			        <td>£1,200.00 per year <span class="heading-small">or</span> £100.00 per month</td>
			      </tr>
			    </tbody>
			  </table>
		</div>

    <div class="panel panel-border-wide" style="margin-top:30px;">
      <p class="heading-small">Your account is currently in arrears for February 2018.</p> 
      <p>Set up a Direct Debit plan and payments will be made automatically using the plan of your choice.</p>
    </div>


	 <div class="form-group">
	 			<a href="renew-council-tax-choose-payment"><button class="button">Proceed to payment options</button></a>
	 </div>
</div>
        
</main>

{% endblock %}
