{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK payment page
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="back">
		<a href="apply-start" class="link-back">Back</a>
	</div>

<div class="grid-row">
   <div class="column-two-thirds">
  	<h1 class="heading-large">We need some details from you</h1>
		  	<div class="form-group">
				<label class="form-label-bold" for="name-on-account">
			    Full name <span class="form-hint">This is the name that will appear on the permit</span>
			  	</label>
			  	<input class="form-control" id="name-on-account" name="name-on-account" type="text">
			 </div>


			 <form>
			  <div class="form-group">
			    <fieldset>

			      <legend>
			        <h1 class="heading-small">
			          Are you 16 or over?
			        </h1>
			      </legend>

			      <div class="multiple-choice" data-target="contact-by-email">
			        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
			        <label for="example-contact-by-email">Yes</label>
			      </div>

			      <div class="multiple-choice" data-target="contact-by-phone">
			        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
			        <label for="example-contact-by-phone">No</label>
			      </div>
			      <!-- <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
			        <p>People under 16 can't apply for this permit.</p>
			      </div> -->
			    </fieldset>
			  </div>
			</form>

	<div class="form-group">
      <h2 class="heading-medium billing-address-label">Address</h2>
      <div class="payment-type-intro">
        <p>We'll send your licence here. <br> The address must be in the UK.</p>
        </div>
			<div class="form-group">
				<label class="form-label-bold" for="building-and-street">
			    Building and street
			  	</label>
			  	<input class="form-control" id="building-and-street" type="text">
			  	<input class="form-control" id="building-and-street" type="text">
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="town-or-city">
			    Town or city
			  	</label>
			  	<input class="form-control" id="town-or-city" type="text">
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="postcode">
			    Postcode
			  	</label>
			  	<input class="form-control" id="postcode" type="text">
			</div>

		<div class="form-group">
			<a class="button" href="apply-pay-amount" role="button">Continue</a>		 
		</div>
			
		</div>


	</div>	 	


</main>

{% endblock %}
