{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK payment page
{% endblock %}

{% block content %}

<main id="content" role="main">


<div class="grid-row">
    <div class="column-two-thirds">

    	<div class="payment-confirmed">
			<h1 class="heading-medium"><img src="/public/images/tick-icon.png">Direct Debit payment plan has been set up</h1>
			 <h2>Reference number:</h2>
			 <p>MRN147836</p>
		</div>
		<div class="email-copy" style="margin-top:30px;">
			<p>We’ve emailed you the Direct Debit details and reference number.</p> 
			<p>The first payment of £102.00 should be taken from your account in around 4 working days. Please make sure enough money is in your account. All payments after that will be taken on the first working day of the month a payment is due.</p>
		</div>

			<h2 class="heading-medium">Your payment schedule</h2>
			<table>
			    <thead>
			      <tr>
			        <th>Date</th>
			        <th>Amount</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>26 Feb 2018 <br><span class="font-xsmall">This payment is backdated for February</span></td>
			        <td>£102.00</td>
			      </tr>
			      <tr>
			        <td>01 August 2018</td>
			        <td> £102.00</td>
			      </tr>
			    </tbody>

			  </table>

			 <div class="panel panel-border-wide" style="margin-top:30px;">
			  <p>Your Direct Debit will be automatically be renewed every 12 months unless we receive notice to cancel it from you or your bank.</p>
			 </div>
		</div>
	</div>


	 <div class="grid-row">
	    <div class="column-two-thirds">
	    <div class="dd-terms-conditions">
		 <div class="dd-images"><img src="/public/images/directdebit.png">
			 <p>Your payments are protected by the <a href="direct-debit-guarantee">Direct Debit guarantee</a>.</p>
		 </div>
		</div>
	 </div>
	</div>



</main>

{% endblock %}
