{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
 
{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">Tax your vehicle</h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<p>Tax your car, motorcycle or other vehicle using your reminder letter (V11).</p>

			<p>If you don’t have a reminder letter, you can use:</p>
			<ul class="start-page">
				<li>a V5C registration certificate (log book) that’s in your name - get a replacement if you don’t have one</li>
				<li>your new keeper supplement (V5C/2) if you’ve just bought the vehicle</li>
				<li>your ‘last chance’ warning letter</li>
			</ul>
			<div class="form-group">
	 			<a href="renew-car-tax-v11"><button class="button button-start">Start now</button></a>
	 		</div>
		</div>
		<div class="column-third">
			<div class="blue-border">
			<h2 class="heading-medium related-heading">Vehicle tax and SORN</h2>
			<ul class="related-list">
				<li><a href="#">Paying for vehicle tax by Direct Debit</a></li>
				<li><a href="#">Make a SORN</a></li>
				<li><a href="#">Check if a vehicle is taxed</a></li>
				<li><a href="#">Calculate vehicle tax rates</a></li>
				<li><a href="#">Vehicle tax rate tables</a></li>
				<li><a href="#">More</a></li>
			</ul>
			</div>
		</div>
	</div>

</main>

{% endblock %}
