{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
 
{% block content %}


<main id="content" role="main">
	<div class="back">
		<a href="javascript:history.back()" class="link-back">Back</a>
	</div>

<div class="grid-row">
	<div class="column-two-thirds">
	   


	   <form action="/pick-payment-type">
          <div class="form-group">
            <fieldset>
             <legend>
                <h1 class="heading-large" style="margin-bottom:30px;">
                  How do you want to pay?
                </h1>
              </legend>

               <div class="multiple-choice">
		        <input id="renew-car-tax-choose-period" type="radio" name="radiogroup" value="renew-car-tax-choose-period">
		        <label for="renew-car-tax-choose-period" class="heading-small">Direct debit <span class="form-hint">Choose between different recurring payment plans such as monthly or yearly</span></label>
		      </div>

              <div class="multiple-choice">
		        <input id="renew-car-tax-card-summary" type="radio" name="radiogroup" value="renew-car-tax-card-summary">
		        <label for="renew-car-tax-card-summary" class="heading-small">Credit or Debit card <span class="form-hint">Pay a one-off fee for the whole year</span></label>
		      </div>
       
            </fieldset>
          </div>       

	      <div class="form-group">
	      	     <input class="button" type="submit" value="Continue">
	  	    <p class="cancel-link"><a href="#">Cancel</a></p>
	  	   </div>
        </form>
        

	   </div>
	    <div class="column-third">

		</div>
	  </div>


</main>

{% endblock %}
