{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
 
{% block content %}


<main id="content" role="main">
	<div class="back">
		<a href="javascript:history.back()" class="link-back">Back</a>
	</div>

<div class="grid-row">
	<div class="column-full">
	   
        <h1 class="heading-large">Pay by card</h1>
			<table>
			    <thead>
			      <tr>
			        <th>Payment summary</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>Paying for:</td>
			        <td>Vehicle tax for 12 months backdated to 1 February 2018. Expires 31 January 2019.</td>
			      </tr>
			      <tr>
			        <td>Amount to pay:</td>
			        <td> £204.00</td>
			      </tr>
			    </tbody>

			  </table>

			  <a style="margin-top:30px;" class="button" href="https://products.payments.service.gov.uk/pay/4ffc2ad3e87a48899dc1940cdbd5255d" role="button">Continue to card payment</a>

			  <p style="margin-top:30px;"><a href="renew-car-tax-start">Cancel</a></p>

	   </div>
	    <div class="column-third">

		</div>
	  </div>


</main>

{% endblock %}
