{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK payment page
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
   <div class="column-two-thirds">
  	<h1 class="heading-large">Other ways to Pay</h1>

			<h2 class="heading-medium">Complete the paper form</h2>
			<p><a href="">Download the permit application form</a></p>
			<p>Fill out the form and include a cheque for the amount payable. Then post the form to:</p>
			<p>Environment Agency<br>
			Letcombe St<br> 
			Reading<br> 
			RG1 2HN


		<div class="form-group" style="margin-top:30px">
			<p><a href="apply-user-details" role="button">Go back to online application.</a></p>
			<p><a href="apply-start" role="button">More information on this service.</a></p>		 
		</div>
	</div>	 	
</div>


</main>

{% endblock %}
