{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        We have received your request to go live
      </h1>

      <p>We'll get back to you regarding approval in the next working day. Once approved you'll need to activate the service in the admin tool.</p>

      <div class="form-group">  
  	    <p class="cancel-link"><a href="#">Back to payment links</a></p>
  	    <p class="cancel-link"><a href="#">GOV.UK Pay dashboard</a></p>
  	   </div>

    </div>
  </div>
</main>

{% endblock %}


