{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        This will be the URL
      </h1>
      <p class="lede">www.gov.uk/pay/pay-for-fishing-licence</p>
      <p>You can change the URL by editing the payment title on the previous page.</p>


      <div class="form-group">
          <a href="/details-3-cost">
      	     <input class="button" type="submit" value="Continue">
    		  </a>  
  	    <p class="cancel-link"><a href="/set-up-payment">Cancel</a></p>
  	   </div>

    </div>
  </div>
</main>

{% endblock %}


