{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Review details
      </h1>

      <p>This draft has been submitted for approval.</p>
 
  	    <p class="cancel-link"><a href="/set-up-payment">Preview what your users will see</a></p>
  	    <p class="cancel-link"><a href="/set-up-payment">View documentation</a></p>
  	    <p class="cancel-link"><a href="/set-up-payment">Delete this draft and cancel approval process</a></p>


    </div>
  </div>
</main>

{% endblock %}


