{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  	<div class="column-full">
      <h1 class="heading-large">
        Payment landing page
      </h1>
   	</div>
      <div class="column-two-thirds remove-left-margin">
		<form action="payment-title" class="form">
	        <div class="form-group">
	          <label class="form-label-bold" for="email">
	            Payment title
	            <span class="form-hint">
	             This describes what the user is paying for and will appear on the payment link landing page. It will also appear in the URL slug you give to users.
	            </span>
	          </label>
	          <input type="text" class="form-control" id="payment-title" style="width: 100%;">
	        </div>
	    </form>

	    <div class="form-group">
              <label class="form-label-bold" for="your-message">
                Contextual information
                <span class="form-hint">
	              This information explains what the user is paying for. It will appear under the page title on the payment link you give to users.
	            </span>
              </label>
              <textarea class="form-control" name="textarea" id="textarea" style="width: 100%;" rows="5"></textarea>
            </div>

	<div class="form-group">
      	<a href="/details-2-URL-playback">
    	<input class="button" type="submit" value="Continue">
  		</a>  
	    <p class="cancel-link"><a href="/set-up-payment">Cancel</a></p>
	</div>
	</div>

   </div>
</main>

{% endblock %}


