{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Direct Debit
      </h1>
        <h2 class="heading-medium">Recurring payments</h2>
  			
        <ul class="list list-bullet">
  				<li><a href="/driving-pages/renew-car-tax-start">Vehicle Tax</a></li>
  				<li><a href="/borchester/borchester-home">Council Tax</a></li>
  			</ul>

      <h2 class="heading-medium">
        <a href="/dd-payment-pages/direct-debit-payment-1">One off payments</a>
      </h2>
     

      <h2 class="heading-medium">
        On demand payments
      </h2>


			</ul>

    </div>
  </div>
</main>

{% endblock %}


