{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Direct Debit recurring payments
      </h1>

			<h2 class="heading-medium">Links</h2>

			<ul class="list list-bullet">
				<li><a href="/driving-pages/renew-car-tax-start">Vehicle Tax</a></li>
				<li><a href="/borchester/borchester-home">Council Tax</a></li>
			</ul>


			</ul>

    </div>
  </div>
</main>

{% endblock %}


