{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Pay link set up
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="heading-medium">About this page</h2>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Resources</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
			</ul>


			</ul>

    </div>
  </div>
</main>

{% endblock %}


