{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Payment links
      </h1>

      <p class="lede">Take online payments for non-digital services. Create a payment link that you can use on application forms, or websites where forms are downloaded.</p>

      <div class="form-group">
        <a href="/details-1-title">
    	   <input class="button" type="submit" value="Create payment link">
  		  </a>
	   </div>

  <details>
      <summary><span class="summary">See an example payment link user flow</span></summary>

      <div class="panel panel-border-narrow">
      <h3 class="heading-medium">User goes to the payment link they are given</h3>
        <p>You will create the URL for the payment link. For example:<br>
        www.gov.uk/pay/pay-for-my-service</p>

        <img src="/public/images/example-flow.png">

      </div>
  </details>
 </div>
</div>

</main>

{% endblock %}


