{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Payment links
      </h1>

      <p class="lede">Take online payments for non-digital services. Create a payment link that you can use on application forms, or websites where forms are downloaded.</p>

      <div class="form-group">
        <a href="/details-1-title">
    	   <input class="button" type="submit" value="Create payment link">
  		  </a>
	   </div>
     <p><a href="#">Read guidance on using payment links</a></p>
    </div>
  </div>
</main>

{% endblock %}


