{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK payment page
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
   <div class="column-two-thirds">
  	<h1 class="heading-large">Use Direct Debit to pay the Dartford Crossing charge (Dart Charge)</h1>
			
			<p>You can pay the Dartford Crossing charge by variable Direct Debit.</p>
			<p>This means your monthly payment can go up or down depending on how many times you are charged.</p>

			<div class="panel panel-border-wide">
				<p>Charge per crossing: <br> <span class="heading-xlarge">£2.50</span></p>	
			</div>

      <p>Payments are taken via Direct Debit on the last working day of every month.</p>
      <p>We will notify you by email 3 days before each future payment.</p>
  		
      <div class="form-group mt3">
  			<a class="button button-start" href="apply-details" role="button">Start now</a>		 
  		</div>

       <h2 class="heading-medium">Before you start</h2>

        <p>To set up a variable Direct Debit payment you’ll need to have the following bank details ready:</p>
        
        <ul class="list-bullet">
          <li>Account number</li>
          <li>Sort code</li>
          <li>Name on account</li>
        </ul>

        <p class="mt4">If more than one person is required to authorise Direct Debits on the bank account, you must  use a <a href="#">different payment method</a>.</p>
	</div>	 	
</div>


</main>

{% endblock %}
